body{
    background: #F8F8F9 0% 0% no-repeat padding-box;
    opacity: 1;

}

#sidebar{
    background: #0B2A5A;
    opacity: 1;
}

.wrapper {

    display: grid;
    height: 100vh;
    /* grid-template-columns:1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 6fr ;
    grid-gap: 0.5em;
    grid-template-areas: 
    "sidebar upperInfo upperInfo upperInfo"
    "sidebar lowerInfo lowerInfo lowerInfo"
    ;

    /* padding-left: 5%;
    padding-right: 5%; */

}
.wrapper>div {
    /* background: #eee;
    padding: 1em; */
}
p{
    /* font-size:10px; */
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4{
    font-family: "Open Sans", sans-serif;
}
.wrapper>div:nth-child(odd) {
    /* background: #ddd; */
}

#sidebar{
    grid-area: sidebar;
    
}
#sidebar-profile>img:nth-child(1) {
    /* clip-path: circle(); */
    border-radius: 50%;
    
    /* padding-top: 0; */
    padding: 0%;
    margin-top: 15%; 
    margin-bottom: 15%;
    display: block;
    border: #FFFFFF solid 3px;
    /* max-width: 70%; */
    /* height: auto; */
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
#sidebar-profile>h3 {
    text-align: center;
    color:white;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#sidebar-profile>p {
    color: white;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #9a9abe;
    opacity: 1;
    font-size: 14px;;
    /* font: normal normal normal 14px/18px ; */
    /* font-family: "Open Sans"; */
    /* font-family: "Open Sans"; */
}

#sidebar img {
    
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    color: #9a9abe;
    font: normal normal bold 14px/18px Open Sans;
    text-transform: uppercase;
    padding-top: 40px;
}
#dashboard-content-flex-first {
    border-left: 5px solid #60d91a;
    color: #60d91a;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.dashboard-content-flex {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    cursor: pointer;
}
.dashboard-content img {
    margin-left: 30px;
    margin-right: 20px;
}
.dashboard-content > #msg-btn> .msg-notification {
    /* margin-left: %; */
}
.msg-notification {
    position: static;
    width: 20px;
    height: 20px;
    top: 16%;
    left: 6%;
    margin-left: 10%;
    margin-bottom: 7%;
    border-radius: 50%;
    background: #DF0000;
    color: #FFFFFF;
    text-align: center;
}
#upperInfo{
    grid-area: upperInfo;
    
    display: grid;
    /* grid-template-columns:1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr .2fr;
}
i {
    padding:0%;
    margin: 0%;
    /* margin-bottom: -10%; */
}
.card{
    display: block;
    background-color:#6B00BC;
    margin: 1.5em;
    margin-top: 0%;;
    padding: .5em;
    /* justify-content: center; */
    text-align: left;
    border-radius: 10px;
    height: 120px;
    color: white;
}
.amount {
    display: inline;
    justify-content: space-between;
    font: normal normal normal 32px/29px Open Sans;
}
.amount p,i {
    display: inline;
}
.card > p:nth-child(1) {
    /* color: white; */
    /* font-size:  32px Open-Sans; */
    font-family: "Open Sans", sans-serif;
    /* display:inline-block; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card> div >p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: normal normal normal 32px/29px Open Sans;
    font-family: "Open Sans", sans-serif;
}
.amount {
    display: flex;
    justify-content: space-between;
    font: normal normal normal 32px/29px Open Sans;
}
.card i{
    /* display: inline-block; */
    /* float:right; */
    /* justify-content: center; */
}

.myBtn{
    margin: auto;
    text-align: center;
    background-color: #0062FF;
    margin: 1.5em;
    /* justify-content: center; */
    /* text-align: center; */
    border-radius: 100px;
    height: 40px;
    box-shadow: 0px 10px 20px #0062ff4d;
    font: normal normal normal 14px/40px Montserrat;
    color: #ffffff;
}
.myBtnInactive {
    margin: auto;
    text-align: center;
    background: #e8ecf1 0% 0% no-repeat padding-box;
    margin: 1.5em; 
    border-radius: 100px;
    height: 40px;
    font: normal normal normal 14px/40px Montserrat;
    color: #728391;
}


#lowerInfo {
    padding:0%;
    margin:0%;
    grid-area: lowerInfo;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.workshop{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 4fr 1fr; */
    grid-template-areas: 
    "workshop-pic workshop-info";

    border-radius: 8px;
    /* background-color: #9CC3D5FF; */
    background-color: #FFFFFF;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 5px 10px #01368619;
    
    /* lightgreen; */

}
.workshop-pic{
    grid-area: workshop-pic;
    border-radius: px;
}
.workshop-info{
    grid-area: workshop-info;
    margin-left: 8%;
}
.workshop-status{
    display:inline-flex;
}
.divider {
    color: #f8f8f9;
    /* height: 5px; */
}
.workshop-footer {
    grid-area: workshop-footer;
    /* border-top: 5px solid #f8f8f9; */
    display: flex;
    justify-content: space-around;
    padding: 34px 0px 34px 0px;
}

/* #lowerInfo >  select child */ 
#lowerInfo  img:first-child{
    /* margin-top: 4%; */
    /* margin:auto; */
    /* margin-bottom: auto; */
    /* float: left; */
    /* border-radius: 8px; */
}

#footer {
    grid-area: footer;
}

/* MEDIA QUERY FOR THE MAIN PAGE */
@media only screen and (max-width: 550px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows:  0.5fr 0.5fr 1fr;
        grid-template-areas: 
        "sidebar"
        "upperInfo"
        "lowerInfo";
        /* font-size: small; */
    }

}

/* MEDIA QUERY FOR THE WORKSHOP DIV */
@media only screen and (max-width: 550px) {
    .workshop {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "workshop-pic"
            "workshop-info"
        ;
        /* font-size: small; */
        margin-left: 0%;
    }
}